/* Theme Colors */
$start_bg_color: #e6e6e6;
$about_bg_color: #2B2B2B;
$about_text_color: #c9c9c9;
$link_font_color: #a0a0a0;
$resume_bg_color: #DEDEDE;
$side_bar_color: #A3D1BD;
$mini_side_bar_color: #8ac7e6;
$side_bar_size: 6px;


/* Overall Styles */
body {
	margin: 0 auto;
	font-family: 'Roboto';
}
.panels {
	position: relative;
	z-index: 2;
}
.static {
	position: sticky;
	top: 0;
}


/* Home */
.home {
	display: flex;
	width: 100vw;
	z-index: 1;
	padding: 6vh 0 6vh 0;
    // background-size: cover !important;
    background-color: $start_bg_color;
	font-family: 'Montserrat';
	color: $about_bg_color;
}
.contain {
	display: flex;
	width: 100vw;
    align-items: center;
    justify-content: center;
}
.title {
	font-weight: 600;
    font-size: 5em;
    margin: 0px;
	padding: 0px;
}
.avatar {
    flex: 1;
	max-width: 350px;
}
.social-icons {
	a {
		color: $about_bg_color;
		font-size: 3.5em;
		margin-right: 10px;
	}
	Button {
		margin-top: -24px;
		color: $start_bg_color;
		background-color:$about_bg_color;
		min-height: 49px;
	}
	display: flex;
}


/* About */
.about {
	padding: 30px;
	background-color: $about_bg_color;
	color: white;
	display: flex;
	font-family: 'Roboto';
	-webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.4);
  	-moz-box-shadow:    0px 0px 20px 10px rgba(0, 0, 0, 0.4);
  	box-shadow:         0px 0px 20px 10px rgba(0, 0, 0, 0.4);
	a {
		text-decoration: none;
		color: $link_font_color;
	}
}
.mini-header {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 28px;
	padding: 0;
	margin-bottom: 12px;
}
.description {
	padding: 20;
	width: 40vw;
	margin: 0px 65px 0px 40px;
	p {
		font-weight: 400;
		font-size: 15;
		word-spacing: 2px;
		color: $about_text_color;
		margin-top: -15px;
		padding: 5px;
		line-height: 130%;
	}
}
.description:last-child {
	margin-left: 10vw;
}
.download-button {
	align-self: center;
}


/* Resume */
.resume {
	padding: 20px 40px 20px 40px;
	display: flex;
	font-family: 'Roboto';
	font-size: 20px;
}
.resume-background {
    background-color: $resume_bg_color;
	// background-image: linear-gradient(#dbd9d9, #CFCCCC);
}
.resume-header {
	font-family: 'Montserrat';
	font-weight: 300;
	font-size: 40px;
	margin-bottom: 0px;
	padding: 5px;
    border-left: $side_bar_size solid $side_bar_color;
	width: 100%;
}
.right-side {
	margin-bottom: 15px;
	max-width: 750px;
}
.flex-container {
	display: table;
	width: 100%;
}
.cols {
	display: table-cell;
    border-bottom-width: 30px;
    width: 60vw;
}
.resume-mini-header {
	display: flex;
	p {
		font-size: 28px;
		padding: 4px;
		font-weight: 500;
		border-left: $side_bar_size/2 solid $mini_side_bar_color;
		margin: 5px 5px 5px 0px;
	}
}

.resume-mini-header img{
	height: 35px;
	width: 35px;
	border-radius: 50%;
	margin-left: 5px;
	background: $link_font_color;
	padding:5px;
}

.logos {
	height: 55px;
	width: 80px;
}

.resume-description {
	font-family: 'Domine';
	display: table;
	width: 100%;
	font-size: 23px;
	margin-left: 15px;
	margin-top: -12px;
	p {
		display: table-cell;
	}
}
.explanation {
	font-family: inherit;
	font-weight: 200;
	font-size: 19px;
	width: 100%;
	margin-left: 15px;
}
.left-info {
	float: left;
}
.right-info {
	font-style: italic;
	float: right;
}


/* Progress Bar */
.p-title {
    font-size: 20px;
	padding: 4px;
    font-weight: 500;
    margin: 0px 0px 0px 0px;
}


/* Footer */
.Footer {
	color: $about_bg_color;
	background-color: $start_bg_color;
	background-size: cover !important;
	display: block;
	padding: 1px 25px 1px 25px;
	text-align: right;
	word-spacing: 5px;
	a {
		text-decoration: none;
		color: inherit;
	}
}


/* Smaller Screen Sizes */
@media (max-width: 1000px) {
	.cols {
		display: block;
		width: 100%;
	}
	.resume-mini-header{
		&:first-child {
			margin-top: 25px;
		}
	}
	.right-side{
		&:first-child {
			margin-top: 25px;
		}
	}
	.right-side {
		margin-bottom: 0px;
	}
	.resume-description {
		p {
			display: block;
			width: 100%;
		}
	}
	.left-info {
		margin-bottom: 0px;
	}
    .home, .contain {
		display: block;
		text-align: center;
		text-align: -moz-center;
		text-align: -webkit-center;
	}
	.avatar {
		max-width: fit-content;
	}
	.about {
		display: block;
		.description {
			width: fit-content;
		}
		.description:last-child {
			margin: 0px 65px 0px 40px;
		}
	}
	.social-icons {
		display: inline-block;
	}
}
@media (max-width: 900px ) {
	.main-description {
		align-items: flex-end;
		justify-content: center;
		font-size: 17.7px;
	}
}

@media (max-width: 650px ) {
	.title {
		font-size: 4.7em;
	}
	.home, .contain {
		max-width: 100vw;
	}
	.main-description {
		align-items: flex-end;
		justify-content: center;
		font-size: 15.5px;
	}
}

@media (max-height: 570px) {
	.static {
		position: relative;
	}
	.about {
		-webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
		-moz-box-shadow:    0px 0px 10px 5px rgba(0, 0, 0, 0.4);
		box-shadow:         0px 0px 10px 5px rgba(0, 0, 0, 0.4);
	}
}
